.sidebar{
  background: var(--nav-bg);
  padding: 40px 42px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--nav-item-text);
  height: 100%;
}
.user{
  text-align: center;
  /* margin-bottom: 100px; */

}
.userImg{
  border-radius: 50%;
  border: 2px solid var(--nav-item-bg-light);
  margin-bottom: 17px;
}
.userName{
  font-weight: 500;
  font-size: 30px;
}
.navItem{
  text-decoration: none;
  border-radius: 8px;
  background-color: var(--nav-item-bg);
  padding: 10px 20px;
  text-align: center;
  display: block;
  margin-bottom: 16px;
  transition: all .3s;
  width: 100%;
}
.navItem.active{
  width: 120%;
  background-color: var(--nav-item-bg-light);
  transition-delay: 0s;
}
.navItem:hover{
  background-color: var(--nav-item-bg-light);
  width: 120%;
  /* width: 120%; */
}
/* .navItem:hover ~ .navItem.active{
  width: 100%;
  background-color: var(--nav-item-bg)
} */
.organisations{
  border-top: 1px solid var(--text-second);
}
.organisationsTitle{
  font-weight: 600;
  font-size: 20px;
  margin: 12px 0;
}
.organisationsList{
  display: flex;
  list-style: none;
  padding: 0;
}
.organisationsItem{
  max-width: 50px;
  margin-right: 11px;
}
.organisationsItem img{
  max-width: 100%;
  border-radius: 8px;
}